@model CoreAzon.ViewModels.HomeIndexViewModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>
        Home
    </title>
</head>
<body>
    Hey there, @Model.Contact.FirstName @Model.Contact.LastName! Your id is @Model.Contact.Id <br /> <br />
    You work for @Model.Customer.CustomerName!
</body>
</html>